streamlit
python-dotenv
requests
pydantic
numpy
pandas
pytest

langchain
langchain-community
langchain-core

faiss-cpu
sentence-transformers

sympy
audio-recorder-streamlit

pillow
pytesseract
easyocr

openai-whisper
ffmpeg-python

sounddevice
scipy

pyyaml
tqdm
rich
loguru

SpeechRecognition
pydub